*.suo
*.dll
*.cache
*.pdb
*.cache
*.config
*.exe
Manteca-Box-Class/obj/Debug/Manteca_Box_Class.Properties.Resources.resources
Manteca-Box-develop/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Manteca-Box-develop/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Manteca-Box-develop/obj/Debug/Manteca-Box-develop.csproj.FileListAbsolute.txt
Manteca-Box-Class/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Manteca-Box-Class/obj/Debug/Manteca-Box-Class.csproj.FileListAbsolute.txt
Manteca-Box-develop/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Manteca-Box-Class/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs