<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"
     maxRequestLength="65536" />
    <anonymousIdentification enabled="true" />
    <profile>
      <properties>
        <add name="PostalCode"
          type="System.String"
          allowAnonymous="true" />
      </properties>
    </profile>

    <!-- other Web.config settings here -->
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <connectionStrings>
    <add name="ConexionBBDD" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\BBDD.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>